<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Practice</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="top"> <input type="text" class="items-search" v-model="searchLine" v-on:keydown="filterItems" />
                <button class="search-button" type="button" v-on:click="filterItems">Искать</button>
                <button class="cart-button" type="button" v-on:click="showCart">Корзина <span
                        class="in-cart-count">{{cart.length}}</span></button>
            </div>
            <div class="cart" v-show="isVisibleCart">
                <template v-if="cart.length > 0">
                    <div class="cart" v-for="item in cart">
                        <h3>{{item.title}}</h3><span>$ {{item.price}}</span>
                    </div>
                </template>
                <template v-else>

                    <h2>Cart is empty</h2>

                </template>
            </div>
        </header>
        <div class="items-list">
            <template v-if="filteredItems.length > 0 && items.length > 0">
                <div class="item" v-for="item in filteredItems"><img :src="item.productImgUrl">
                    <h2>{{item.title}}</h2>
                    <div class="card-bottom"> <span class="price">$ {{item.price}}</span><button v-on:click="addTocart"
                            :id="item.id_product">Add
                            to
                            cart</button></div>
                </div>
            </template>
            <template
                v-if="filteredItems.length === 0 && items.length > 0 || filteredItems[0] === undefined && items.length > 0">
                <div class="item" v-for="item in items"><img :src="item.productImgUrl">
                    <h2>{{item.title}}</h2>
                    <div class="card-bottom"> <span class="price">$ {{item.price}}</span><button v-on:click="addTocart"
                            :id="item.id_product">Add
                            to
                            cart</button></div>
                </div>
            </template>
            <template v-if="filteredItems.length === 0 && items.length === 0">

                <h2>Nothing found</h2>
        </div></template>

    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>